.LinkTable{
    top:55px;
    position: fixed!important;
    .LinkButton:hover{
        text-decoration: none;
    }
    .LinkButton{
        width: 100%;
        padding: 6px;
        margin: 6px;
    }
}
/* NewsFeedHeader */
.NewsFeedHeaderTextArea{
    height: 300px;
    resize: none;
}
.btn-secondary:hover, .btn-secondary:focus,.btn-secondary{
    outline: none;
    background: #fff;
    color: black;
    border: 0;
}
.takeFile{
    width: 114px;
    height: 41px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin: 0;
    padding: 7px;
    border-radius: 5px 5px 0px 0px;
    border-left: none;
    border-bottom: none;
}
.ImageUpload{
    width: 100%;
    height: 300px;
}
.storiesHeader{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}
.link{
    float: left;
    width: 20%;
    text-align: center;
    .stories{
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }
}
.storiess{
    width: 100%;
    height: 160px;
    background: aliceblue;
    padding: 5px;
    border-radius: 12px;
    #tooltip {
        position: relative;
        display: inline-block;
        margin: 7px;
        cursor: pointer;
    }
    #tooltip .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 4px 5px;
        position: absolute;
        margin: 17px 0px 0px -370px;
    }
    #tooltip:hover .tooltiptext {
        visibility: visible;
    }
}

.Trending{
    width: 100%;
    background: aliceblue;
    margin-top: 10px;
    padding: 6px;
    border-radius: 12px;
    .trendingInline{
        align-self: stretch;    
        display: flex;
        justify-content: space-between;
    }
    .TrendingIcon{
        list-style-type: none;
        display: flex;        
        margin: -4px 0;
        position: relative;
        padding: 5px;
    }
    .TrendingIcon>li>i{
        font-size: 25px;
        padding: 4px;
        cursor: pointer;
    }
    .TrendingIcon>li>i .tooltriptext2 {
        visibility: hidden;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 4px 5px;
        position: absolute;
        margin: -35px 0px 0px -43px;
    }
    .TrendingIcon>li>i:hover .tooltriptext2 {
        visibility: visible;
    }
    .ixon>i{ 
        display: flex;
    .NavLink{
        padding: 0px;
        margin: 0px 14px;
        }
    }
    .trendPara{
        color: black;
        margin: 0px 0px 0px 29px;
        display: block;
        font-size: 12px;
    }
}
.Suggetion{
width: 100%;
background: aliceblue;
margin-top: 10px;
padding: 6px;
border-radius: 12px;
.header{
    align-self: stretch;
    display: flex;    
    justify-content: space-between;
    }
    .header>span{
        height: fit-content;
        cursor: pointer;
    }
    .header>span:hover{
        border-bottom:1px solid green; 
    }
    .Image{
        height: 225px; 
        width: 100%;    
    }
    #Images .model{
        visibility: hidden;
        position: absolute;
        bottom: 0;
        margin-bottom: 333px;
        width: 100%;
        border-radius: 12px;
        padding: 6px;
        background: aqua;
        left:0;
        cursor: pointer;
    }
    #Images:hover .model {
        visibility: visible;
    }
}
.chat{
    background: aliceblue;
    height: 700px;
    top:56px;
}
.ChatBox{
    top: 56px;    
    position: fixed;    
    height: 560px;
    right: 0;
    overflow-x: auto;
    .hoverProfile{
        width: 100%;
        display: flex;
        .ProfImg{
            position: relative;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid black;
            margin-top: 10px;
        }
    }
    .hoverProfile>span{
        position: relative;
        width: 100%;
        text-align: center;
        top: 17px;
    }
}
.ChatsearchBox{
    position: fixed;
    bottom: 0;
}