.LinkButton:hover{
    text-decoration: none;
}
.LinkButton{
    width: 100%;
    padding: 6px;
    margin: 6px;
}
/* NewsFeedHeader */
.NewsFeedHeaderTextArea{
    height: 300px;
    resize: none;
}
.btn-secondary:hover, .btn-secondary:focus,.btn-secondary{
    outline: none;
    background: #fff;
    color: black;
    border: 0;
}
.takeFile{
    width: 114px;
    height: 41px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin: 0;
    padding: 7px;
    border-radius: 5px 5px 0px 0px;
    border-left: none;
    border-bottom: none;
}